<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us | CrowdFund</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <%- include('partials/header') %> <%- include('partials/navbar') %>

    <div class="about-us-header">
      <div class="container">
        <div class="header-content">
          <h1>About Us</h1>
          <p>
            We help people contribute to meaningful causes with ease and
            transparency
          </p>
        </div>
      </div>
    </div>

    <section class="our-mission">
      <div class="container">
        <h2>Our Mission</h2>
        <p>
          We are a passionate team that believes in empowering people to make a
          difference through crowdfunding. Our mission is simple — to create a
          platform that connects individuals with causes that matter, and help
          them contribute in a secure and transparent way. Together, we can
          create a positive impact on society and build a brighter future for
          everyone.
        </p>
      </div>
    </section>

    <section class="meet-the-team">
      <div class="container">
        <h2>Meet The Team</h2>
        <div class="team-card">
          <img src="/images/abdul_g.jpg" alt="Team Member 1" />
          <h3>Abdul</h3>
          <p>CSE- cyber security</p>
          <p>
            Abdul is web application developer and visionary behind the
            platform, driven by a passion for giving back to society.
          </p>
          <a
            href="https://www.linkedin.com/in/abdul-2127b725a/"
            target="_blank"
            class="linkedin-link"
          >
            <i class="fab fa-linkedin"></i> Connect on LinkedIn
          </a>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
